@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

#headline {
	text-align: center;
	position: absolute;
	scale: 150%;
	top: 40%;
	left: 50%;
	transform: translateX(-30%) translateY(-20%);
	color: whitesmoke;
}

body {
	overflow: hidden;
	min-height: 100vh;
	background-image: url("../images/5532919.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
}

.main img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

#planet1 {
	position: absolute;
	top: 30vh;
	left: 10vh;
	width: 30vh;
	height: 30vh;
}

#planet2 {
	position: absolute;
	top: 60vh;
	left: 50vh;
	width: 120vh;
	height: 120vh;
}

#satelit {
	position: absolute;
	top: 35vh;
	left: 170vh;
	width: 30vh;
	height: 30vh;
}
